.header{
  position: absolute;
  width: 100%;
  height: 60px;
  margin: 0;
  background-color: darkslategray;

}

.header  ul {
  position: absolute;
  display: inline-flex;
}

.header li {
  color: black;
  margin-right: 20%;
  height: 20px;
  line-height: 20px;
}

.header li:hover {
   cursor: pointer;
   text-decoration: underline;
   
}

.header a{
  text-decoration: none;
  color: white;
}

.body{
  position: absolute;
  padding: 0 20px;
  top: 60px;
}
